DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DATABASE_URL=
SECURE_HSTS_SECONDS=31536000

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=twoj.adres@gmail.com
EMAIL_HOST_PASSWORD=twoj-16-znakowy-app-password
DEFAULT_FROM_EMAIL=twoj.adres@gmail.com
CONTACT_EMAIL=twoj.adres@gmail.com
